$color-sky: #2EB6E8;
$color-deep: #003355;
$color-op: #001A3E;
$color-le:#f8f8f8;
$color-eee: #696969;
$color-context: #5A5A5A;
$font-style: 微軟正黑體;
$font-weight: 300;
$font-weight-bold: 400;
$font-size: 0.8725rem;
$fontBase: 4px;



@function font($level: 1) {
    @return $fontBase * $level;
}


h4 {
    font-size: font(4);
    font-size: $font-style;
    font-weight: $font-weight;
    color: $color-eee;
}

h5,
p {
    font-size: $font-style;
    font-weight: $font-weight;
    color: black;
}


button:focus {
    outline: none !important;
}

a:focus {
    outline: none !important;
}

input {
    outline: none !important;
}

.all-tittle {
    display: block;
    text-align: center;
    margin: 3rem auto 1.5rem;

    .tittle {
        display: block;
        line-height: 2.5rem;
        font-size: font(5);
        font-family: $font-style;
        font-weight: $font-weight;
        color: $color-eee;
    }

    .subtittle {
        display: block;
        font-size: font(6);
        font-family: $font-style;
        font-weight: $font-weight-bold;
        color: $color-sky;
    }
}

main {
    min-height: 50vh;
}





//header標籤
header {


    .sloganIndex {

        position: absolute;
        top: 40%;
        font-size: font(10);
        font-family: $font-style;
        font-weight: $font-weight;
        color: white;
        z-index: 10;
        text-align: center;


    }


    .slogan {

        position: absolute;
        top: 30%;
        font-size: font(10);
        font-family: $font-style;
        font-weight: $font-weight;
        color: white;
        z-index: 10;
        text-align: center;


    }


    .sloganS {

        position: absolute;
        top: 22%;
        font-size: font(10);
        font-family: $font-style;
        font-weight: $font-weight;
        color: white;
        z-index: 10;
        text-align: center;


    }

    .allSlogan {

        position: absolute;
        top: 18%;
        font-size: font(10);
        font-family: $font-style;
        font-weight: $font-weight;
        color: white;
        z-index: 10;
        text-align: center;


    }



    .index {
        //幻燈片
        width: 100%;
        height: 100%;

        .swiper-wrapper {
            .swiper-slide {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100vh;
                    z-index: 2;
                }
            }
        }

        .swiper-wrapper {
            .headerBg {
                img {
                    object-fit: cover;
                    width: 100vw;
                    height: 50vh;
                    z-index: 2;
                }
            }
        }

        .swiper-wrapper {
            .allBg {
                img {
                    object-fit: cover;
                    width: 100vw;
                    height: 35vh;
                    z-index: 2;
                }
            }
        }
    }

    .img-color {
        //蓋圖的div
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0%;
        background-color: $color-op;
        opacity: 0.65;
        z-index: 5;
    }

    .anorImg-color {
        //蓋圖的div
        position: absolute;
        width: 100%;
        height: 50vh;
        top: 0%;
        background-color: $color-op;
        opacity: 0.65;
        z-index: 5;
    }

    .allImg-color {
        //蓋圖的div
        position: absolute;
        width: 100%;
        height: 35vh;
        top: 0%;
        background-color: $color-op;
        opacity: 0.65;
        z-index: 5;
    }


    li {
        padding: 0 10px;
        display: inline-block;

        @media (min-width: 767px) {

            &:first-child {
                padding-left: 0
            }


            &:last-child {
                padding-right: 0
            }

        }

    }

    .row-language {
        position: absolute;
        top: 5%;
        right: 5%;

        @media (max-width: 767px) {
            display: none;

        }

        a {
            border: 1px solid white;
            font-style: white;
        }
    }

    .nav {
        position: absolute;
        top: 10%;
        right: 5%;

        @media (max-width: 767px) {
            display: none;

        }

        a {
            font-size: font(4);
            font-family: $font-style;
            font-weight: $font-weight;
            color: $color-sky;
        }
    }

   

    .rwdNav {

        position: fixed;
        top: 0%;
        z-index: 20;
        width: 100%;
        left: 0%;
        height: 9%;
        background-color: $color-deep;
        box-shadow: 0 .1rem 1.3rem 0 #00000099;

        .hamburger {
            width: 40px;
            cursor: pointer;
        }
        
        .hamburger .line {
            display: block;
            width: 30%;
            height: 3px;
            border-radius: 4px;
            background-color: white;
            margin-bottom: 5px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            position: relative;
            left: 18px;
        }
        
        .hamburger .line2 {
            display: block;
            width: 50%;
            height: 3px;
            border-radius: 4px;
            background-color: white;
            margin-bottom: 5px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            position: relative;
            left: 11px;
        
        }
        
        .hamburger .line3 {
            display: block;
            width: 80%;
            height: 3px;
            border-radius: 4px;
            background-color: white;
            margin-bottom: 5px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        
        
        }

        #hamburger-1.active .line:nth-child(1) {
            transform: translateY(12px) translateX(-16px) rotate(45deg);
            width: 70%;
        }
        
        #hamburger-1.active .line2:nth-child(2) {
            opacity: 0;
        }
        
        #hamburger-1.active .line3:nth-child(3) {
            transform: translateY(-5px) translateX(1px) rotate(-45deg);
            width: 70%;
        
        }

        button {
            background-color: $color-op;
            outline: none;
        }
        

        @media screen and (max-width: 691px){
            .logo{
                img{
                    width: 100%;
                    padding: 25%;               
                }
               
            }

            .hamburger{
            width: 40px;
            cursor: pointer;
            margin: 0.2rem;
        

            }
            
        }

        @media screen and (min-width: 376px){

            .logo{
                img{
                    width: 100%;
                   margin: 0.5rem;
                   margin-top: 0.3rem;
                   padding: 15%;
                   
                }
               
            }

            .hamburger{

            width: 45px;
            cursor: pointer;
            margin-top: 0.8rem;

            }

         .hamburger .line {
            display: block;
            width: 40%;
            height: 3px;
            border-radius: 4px;
            background-color: white;
            margin-bottom: 8px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            position: relative;
            left: 18px;
        }
        
        .hamburger .line2 {
            display: block;
            width: 55%;
            height: 4px;
            border-radius: 4px;
            background-color: white;
            margin-bottom: 8px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            position: relative;
            left: 11px;
        
        }
        
        .hamburger .line3 {
            display: block;
            width: 80%;
            height: 4px;
            border-radius: 4px;
            background-color: white;
            margin-bottom: 8px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        
        
        }

        #hamburger-1.active .line:nth-child(1) {
            transform: translateY(20px) translateX(-16px) rotate(45deg);
            width: 70%;
        }
        
        #hamburger-1.active .line2:nth-child(2) {
            opacity: 0;
        }
        
        #hamburger-1.active .line3:nth-child(3) {
            transform: translateY(-5px) translateX(1px) rotate(-45deg);
            width: 70%;
        
        }

            
        }

        .navbar-nav {
            height: 100vh;
            text-align: center;
            background-color: $color-deep;
            opacity: 0.8;

            .nav-link {
                margin: 1rem;
                color: white;
            }

            a:hover {
                background-color: $color-sky;
                opacity: 1;
            }

        }



    }

    
        .banner {
            position: absolute;
            width: 100vw;
            height: 100vh;
            top: 0%;
            right: 25%;
            z-index: 10;
        }

        .anorBanner {
            position: absolute;
            width: 100vw;
            height: 35vh;
            top: 0%;
            right: 25%;
            z-index: 10;
        }

        .logo {
            position: absolute;
            top: 8%;
            z-index: 10;
            left: 10%;

            @media (max-width: 767px) {
                position: absolute;
                top: 1%;
                z-index: 10;
            }
        }

        .row-language {
            top: 8%;
            z-index: 10;
        }


        ul.new-menu {
            z-index: 10;


            li {
                border-bottom: 1px solid white;
                transition: .3s;
                padding: 0;

                &:hover {
                    border-bottom: 1px solid $color-sky;

                    a {
                        font-weight: 900;

                    }
                }
            }



            a.nav-link {
                letter-spacing: .2rem;
                font-size: $font-size;
                color: white;

            }
        }

        .search {
            position: absolute;
            margin: auto;
            margin-top: -15rem;
            transition: .3s;
            z-index: 10;
            left: 20%;
            width: 70%;

          

            .sBtn{
                border-color: $color-sky;
                width: 20%;
            }

            .search-bar {
                box-shadow: 0 0 1rem 0 #00000099;

            }

            .submit-btn {
                background-color: $color-sky;
                color: white;
                outline: none;

                &:hover {
                    background-color: $color-sky;
                }

                &:active {
                    background-color: $color-sky;
                }
            }



        }

        @media (max-width: 767px) {
            .search {
                position: absolute;
                margin: auto;
                margin-top: -15rem;
                transition: .3s;
                z-index: 10;
               width: 100%;
               left: 6%;

                .sBtn{
                    border-color: $color-sky;
                    width: 1px;
                }
    
                .search-bar {
                    box-shadow: 0 0 1rem 0 #00000099;
                }
    
                .submit-btn {
                    background-color: $color-sky;
                    color: white;
                    outline: none;
    
                    &:hover {
                        background-color: $color-sky;
                    }
    
                    &:active {
                        background-color: $color-sky;
                    }
                }

            }
                
        }


    }




//旅遊文章
.section-article {

    a {
        text-decoration: none;
    }

    h4 {
        font-size: .95rem;
        letter-spacing: .05rem;
    }
}

//套裝行程
.section-trip {

    .trip-bg {
        background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/svg/bg_img.svg);
        background-position-y: 10rem;
        background-size: 85rem;
        background-repeat: repeat-x;
        padding-bottom: 5rem;


    }

    .trip-item {
        &:hover {
            .trip-img {
                filter: contrast(130%);
            }
        }


        .trip-img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            transition: .3s;
        }

        a {
            text-decoration: none;

            .title {
                color: $color-sky;
                font-size: font(6);
                font-family: $font-style;
                font-weight: $font-weight;
            }

            .date-img {
                margin-top: -0.2rem;
            }

            .bigone {
                display: inline;
                color: black;
                font-size: font(6);
                font-family: $font-style;
                font-weight: $font-weight;
                margin-left: .6rem;
            }

            .smallone {
                display: inline;
                color: $color-context;
                font-size: $font-size;
                font-family: $font-style;
                font-weight: $font-weight;
                margin-left: .3rem;
            }

            p {
                display: -webkit-box;
                color: $color-context;
                font-size: $font-size;
                font-family: $font-style;
                font-weight: $font-weight;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;

            }
        }

        border-bottom:1rem solid $color-sky !important;
        margin:1.2rem 1.3rem 2rem 1.3rem;
        box-shadow: 0 0 1rem 0 #00000022;
        transition: .3s;

        &:hover {
            box-shadow: 0 .6rem 1.3rem 0 #00000099;

        }
    }

    .ttn,
    .ttp {
        outline: none;

        img {
            opacity: .5;
            transition: .3s;
        }

        &::after {
            font-size: 0;
        }

        &:hover {
            img {
                opacity: 1;
            }
        }
    }

    .ttn {
        right: -20px;


    }

    .ttp {
        left: -20px;

    }

    @media (max-width: 767px) {
        .ttn {

            top:105%;
            right: 100px;
    
    
        }
    
        .ttp {
            top:105%;
            left: 100px;
    
        }
    }

    .dropdown-menu {
        a {
            text-decoration: none;
        }
    }


}

//景點介紹
.section-attractions {

    h4 {
        font-size: font(5);
        font-size: $font-style;
        font-weight: $font-weight;

    }

    h6 {
        display: block;
        font-size: font(4);
        font-family: $font-style;
        font-weight: $font-weight-bold;
        color: $color-sky;

    }

    p {
        display: -webkit-box;
        color: $color-context;
        font-size: $font-size;
        font-family: $font-style;
        font-weight: $font-weight;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: font(3);
        font-family: $font-style;
        font-weight: $font-weight-bold;

    }


}

//置底banner
.banner-foot {

    background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/svg/bg_img_001-01.png);
    background-position-x: 50% center;
    width: 100%;
    background-size: 45%;
    background-repeat: repeat-y;
    padding-bottom: 2rem;

    .footBanN,
    .footBanP {
        outline: none;

        img {


            opacity: .5;
            transition: .3s;
        }

        &::after {
            font-size: 0;
        }

        &:hover {
            img {
                opacity: 1;
            }
        }
    }

    .footBanN {

        top: 40%;
        left: 50%;


    }

    .footBanP {
        top: 65%;
        left: 50%;

    }


}

footer {
    background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/img_bg001.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    padding-top: 1rem;


    //instagram
    .socialIns {

        a {

            img {
                transition: 0.3s;
            }
        }
    }

    .footer {

        background-color: $color-deep;
        font-weight: $font-weight;
        background-size: 100%;

        .form-control::-webkit-input-placeholder {
            color: white;
            font-weight: $font-weight;
            font-size: .78rem;
        }

        h6.catalg-title {
            font-size: .8rem;
            margin-bottom: 1rem;
        }


        a.catalg-item {
            font-size: .78rem;
            text-decoration: none;
            color: white;
            display: block;
            padding-top: .3rem;
            padding-bottom: .3rem;
            transition: .3s;

            ;

            &:hover {
                color: $color-sky;
            }
        }

        a {

            text-decoration: none;
            color: white;
            display: block;
            transition: .3s;

        }


    }
}

@media (max-width: 767px) {

    footer {
        background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/img_bg001.png);
        background-repeat: repeat-y;
        background-position: top;
        background-size: 100%;
    }

}

//旅遊文章
.articlePost {

    a {
        text-decoration: none;
    }


    p {
        display: -webkit-box;
        color: $color-eee;
        font-family: $font-style;
        font-weight: $font-weight;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }

    img {
        width: 100vw;
        height: 200px;

        -webkit-transition: .3s;
        transition: .3s;

    }

}

//景點介紹nav

.attractionsNav {

    a {
        text-decoration: none;
    }

    a.ac {
        border-bottom: 2px solid $color-sky;
    }

    .nav-link {

        &:hover {
            border-bottom: 2px solid $color-sky;

        }
    }

    @media (max-width: 544px) {

        .nav-link {

            width: 80%;

            &:hover {
                border-bottom: 2px solid $color-sky;

            }
        }

    }
}

.attractionsS2 {

    background-color: $color-deep;

}



//分頁標籤
.pagination {
    li {
        a {
            color: $color-eee;
        }

        a:hover {
            color: $color-sky;
        }

    }
}

//旅遊套裝
.toursNav {
    background-color: $color-le;

    .btn {
        outline: none;
        border-radius: 0;
    }
}

.toursA {

    .cb01{
        background-color: #F4F4F4;
    }


    .trip-bg {
        background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/svg/bg_img.svg);
        background-position-y: 10rem;
        background-size: 85rem;
        background-repeat: repeat-x;
        padding-bottom: 5rem;

        .aa {
            background-color: $color-sky;
        }


    }

    .trip-item {
        &:hover {
            .trip-img {
                filter: contrast(130%);
            }
        }


        .trip-img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            transition: .3s;
        }


        text-decoration: none;

        .title {
            color: $color-sky;
            font-size: font(6);
            font-family: $font-style;
            font-weight: $font-weight;
        }

        .date-img {
            margin-top: -0.2rem;
        }

        .bigone {
            display: inline;
            color: black;
            font-size: font(6);
            font-family: $font-style;
            font-weight: $font-weight;
            margin-left: .6rem;
        }

        .smallone {
            display: inline;
            color: $color-context;
            font-size: $font-size;
            font-family: $font-style;
            font-weight: $font-weight;
            margin-left: .3rem;
        }

        p {
            display: -webkit-box;
            color: $color-context;
            font-size: $font-size;
            font-family: $font-style;
            font-weight: $font-weight;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

        }

        a {}

        margin:1.2rem 1.3rem 2rem 1.3rem;

        transition: .3s;

        &:hover {}
    }

    .cdok{
        background-color: $color-sky;

        button{
            background-color: $color-sky;
        }
    }

    .cdgo{
        background-color: $color-sky;

        button{
            background-color: $color-sky;
        }
    }

    .cdtour{
        background-color:$color-deep;
    }

    .cdwrite{
        h5{
            color: $color-sky;
        }
    }

}


//header圖片牆
.catalg {


    .col {
        width: calc(100% / 6);
        float: left;
        padding: 0;


        .text {

            font-weight: 300;
            position: absolute;
            top: 0%;
            background: $color-deep;
            height: 100%;
            width: 100%;
            transition: .2s;
            opacity: 0.8;
            text-align: center;

            span {
                margin: auto;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                color: white;
                top: 40%;
            }

            &:hover {
                opacity: 0;
            }
        }

        img {
            width: 100%;
        }

    }
}

@media (max-width: 544px) {

    .catalg {
        background-color: $color-op;

        .col {
            width: calc(100% / 2);
            float: left;
            padding: 0;

            .text {

                font-weight: 300;
                position: absolute;
                top: 0%;
                background: $color-deep;
                height: 100%;
                width: 100%;
                transition: .2s;
                opacity: 0.8;
                text-align: center;

                span {
                    margin: auto;
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    color: white;
                    top: 40%;
                }

                &:hover {
                    opacity: 0;
                }
            }

            img {
                width: 100%;
            }

        }
    }
}



.toursBg {

    background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/svg/bg_img_001.svg);
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-size: 100rem;

    img{
        box-shadow: 10 0 1rem 0 #00000022; 
    }

}


//行程內容
.trip-tours {
    .trip-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: .3s;
    }

    h4 {
        color: $color-sky;
        font-size: font(6);
        font-family: $font-style;
        font-weight: $font-weight;
        margin-left: .6rem;

    }

    .title {
        color: white;
        font-size: font(4);
        font-family: $font-style;
        font-weight: $font-weight;
        margin-bottom: 0rem;
    }

    .date-img {
        margin-top: -0.2rem;

    }

    .bigone {
        display: inline;
        color: white;
        font-size: font(5);
        font-family: $font-style;
        font-weight: $font-weight;
        margin-left: .6rem;
    }

    .smallone {
        display: inline;
        color: white;
        font-size: $font-size;
        font-family: $font-style;
        font-weight: $font-weight;
        margin-left: .3rem;
    }

    p {
        display: -webkit-box;
        color: white;
        font-size: $font-size;
        font-family: $font-style;
        font-weight: $font-weight;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }

    hr {
        background-color: white;
    }

}


//推薦加購
.trip-plus {
    box-shadow: 0 .2rem 1rem 0 #00000011;

    &:hover {
        .trip-img {
            filter: contrast(130%);
        }
    }


    .trip-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: .3s;
    }

    .title {
        color: $color-sky;
        font-size: font(4);
        font-family: $font-style;
        font-weight: $font-weight;
    }

    .date-img {
        margin-top: -0.2rem;
    }

    .bigone {
        display: inline;
        color: black;
        font-size: font(5);
        font-family: $font-style;
        font-weight: $font-weight;
        margin-left: .6rem;
    }

    .smallone {
        display: inline;
        color: $color-context;
        font-size: $font-size;
        font-family: $font-style;
        font-weight: $font-weight;
        margin-left: .3rem;
    }

    p {
        display: -webkit-box;
        color: $color-context;
        font-size: $font-size;
        font-family: $font-style;
        font-weight: $font-weight;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }
}

//相關文章
.trip-article {

    box-shadow: 0 .2rem 1rem 0 #00000011;

    &:hover {
        .trip-img {
            filter: contrast(130%);
        }
    }

    a {
        text-decoration: none;

        .trip-img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
            transition: .3s;
        }

        .title {
            color: $color-sky;
            font-size: font(4);
            font-family: $font-style;
            font-weight: $font-weight;
        }

        .date-img {
            margin-top: -0.2rem;
        }

        .bigone {
            display: inline;
            color: black;
            font-size: font(5);
            font-family: $font-style;
            font-weight: $font-weight;
            margin-left: .6rem;
        }

        .smallone {
            display: inline;
            color: $color-context;
            font-size: $font-size;
            font-family: $font-style;
            font-weight: $font-weight;
            margin-left: .3rem;
        }

        p {
            display: -webkit-box;
            color: $color-context;
            font-size: $font-size;
            font-family: $font-style;
            font-weight: $font-weight;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

        }
    }



}

.qaS1 {
    h5 {
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-family: $font-style;
    }

    p {
        font-size: font(4);
        font-size: $font-style;
        font-weight: $font-weight;
        color: $color-eee;
    }

}

.relatedS1 {

    a {
        text-decoration: none;
    }

    h4 {
        font-size: font(4);
        letter-spacing: .05rem;
    }
}

textarea {
    resize: none;
}

#map {
    iframe {
        width: 100%;
        height: 30vh;
    }
}


select {
    outline: none;
    width: 100%;
    background-color: white;
    border: none;
    -webkit-appearance: none;
    background: url(http://leo.wwmt.com.tw/newzealand/content/img/svg/icon_moreoptions.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    border-radius: 0px;


}

select:invalid {
    color: #797474;
}


.reindex {
    text-decoration: none !important;
}

.don {
    text-decoration: none !important;
    background-color: $color-sky;
    color: white;
}









.qaX {
    transition: .3s;

    &.active {
        transform: rotate(225deg);

    }
}


.goBt {
    background-color: $color-le;
    position: fixed;
    top: 90%;
    height: 10%;
    box-shadow: 0 .6rem 1.3rem 0 #00000099;
    z-index: 20;


    button {
        background-color: #2EB6E8;
        color: white;
        position: fixed;
        right: 10px;
        top: 92%;
    }

}

.cardSticky {
    position: sticky;
    top: 0.5rem;

}

.st0 {

    opacity: 0;
}

.st1 {
    opacity: 0;
}

.st2 {
    fill: $color-deep;
}

.st3 {
    fill: none;
    stroke: $color-deep;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st4 {
    opacity: 0.6;
}

.st5 {
    fill: none;
    stroke: $color-deep;
    stroke-width: 4;
    stroke-dasharray: 12, 34;
}


#north:hover {
    opacity: 100;
}

#north {

    &.active {
        opacity: 100;
    }
}

#south:hover {
    opacity: 100;
}

#south {
    &.active {
        opacity: 100;
    }
}



#other:hover {
    opacity: 0;
}

#other {
    &.active {
        opacity: 100;
    }
}

.articleImg {
    background-color: $color-op;
}


@media (max-width: 767px) {

    .articleImg {
        background-color: $color-op;
        display: none;

    }

}
