header .bg {
  background-image: url(/Content/img/9dbe419889716a8bb2df5afdb160b4dd@2x.png);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
/*# sourceMappingURL=article.css.map */