@charset "UTF-8";
h4 {
  font-size: 16px;
  font-size: 微軟正黑體;
  font-weight: 300;
  color: #696969;
}

h5,
p {
  font-size: 微軟正黑體;
  font-weight: 300;
  color: black;
}

button:focus {
  outline: none !important;
}

a:focus {
  outline: none !important;
}

input {
  outline: none !important;
}

.all-tittle {
  display: block;
  text-align: center;
  margin: 3rem auto 1.5rem;
}

.all-tittle .tittle {
  display: block;
  line-height: 2.5rem;
  font-size: 20px;
  font-family: 微軟正黑體;
  font-weight: 300;
  color: #696969;
}

.all-tittle .subtittle {
  display: block;
  font-size: 24px;
  font-family: 微軟正黑體;
  font-weight: 400;
  color: #2EB6E8;
}

main {
  min-height: 50vh;
}

header .sloganIndex {
  position: absolute;
  top: 40%;
  font-size: 40px;
  font-family: 微軟正黑體;
  font-weight: 300;
  color: white;
  z-index: 10;
  text-align: center;
}

header .slogan {
  position: absolute;
  top: 30%;
  font-size: 40px;
  font-family: 微軟正黑體;
  font-weight: 300;
  color: white;
  z-index: 10;
  text-align: center;
}

header .sloganS {
  position: absolute;
  top: 22%;
  font-size: 40px;
  font-family: 微軟正黑體;
  font-weight: 300;
  color: white;
  z-index: 10;
  text-align: center;
}

header .allSlogan {
  position: absolute;
  top: 18%;
  font-size: 40px;
  font-family: 微軟正黑體;
  font-weight: 300;
  color: white;
  z-index: 10;
  text-align: center;
}

header .index {
  width: 100%;
  height: 100%;
}

header .index .swiper-wrapper .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

header .index .swiper-wrapper .headerBg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 50vh;
  z-index: 2;
}

header .index .swiper-wrapper .allBg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 35vh;
  z-index: 2;
}

header .img-color {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0%;
  background-color: #001A3E;
  opacity: 0.65;
  z-index: 5;
}

header .anorImg-color {
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 0%;
  background-color: #001A3E;
  opacity: 0.65;
  z-index: 5;
}

header .allImg-color {
  position: absolute;
  width: 100%;
  height: 35vh;
  top: 0%;
  background-color: #001A3E;
  opacity: 0.65;
  z-index: 5;
}

header li {
  padding: 0 10px;
  display: inline-block;
}

@media (min-width: 767px) {
  header li:first-child {
    padding-left: 0;
  }
  header li:last-child {
    padding-right: 0;
  }
}

header .row-language {
  position: absolute;
  top: 5%;
  right: 5%;
}

@media (max-width: 767px) {
  header .row-language {
    display: none;
  }
}

header .row-language a {
  border: 1px solid white;
  font-style: white;
}

header .nav {
  position: absolute;
  top: 10%;
  right: 5%;
}

@media (max-width: 767px) {
  header .nav {
    display: none;
  }
}

header .nav a {
  font-size: 16px;
  font-family: 微軟正黑體;
  font-weight: 300;
  color: #2EB6E8;
}

header .rwdNav {
  position: fixed;
  top: 0%;
  z-index: 20;
  width: 100%;
  left: 0%;
  height: 9%;
  background-color: #003355;
  -webkit-box-shadow: 0 .1rem 1.3rem 0 #00000099;
          box-shadow: 0 .1rem 1.3rem 0 #00000099;
}

header .rwdNav .hamburger {
  width: 40px;
  cursor: pointer;
}

header .rwdNav .hamburger .line {
  display: block;
  width: 30%;
  height: 3px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 18px;
}

header .rwdNav .hamburger .line2 {
  display: block;
  width: 50%;
  height: 3px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 11px;
}

header .rwdNav .hamburger .line3 {
  display: block;
  width: 80%;
  height: 3px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .rwdNav #hamburger-1.active .line:nth-child(1) {
  -webkit-transform: translateY(12px) translateX(-16px) rotate(45deg);
          transform: translateY(12px) translateX(-16px) rotate(45deg);
  width: 70%;
}

header .rwdNav #hamburger-1.active .line2:nth-child(2) {
  opacity: 0;
}

header .rwdNav #hamburger-1.active .line3:nth-child(3) {
  -webkit-transform: translateY(-5px) translateX(1px) rotate(-45deg);
          transform: translateY(-5px) translateX(1px) rotate(-45deg);
  width: 70%;
}

header .rwdNav button {
  background-color: #001A3E;
  outline: none;
}

@media screen and (max-width: 691px) {
  header .rwdNav .logo img {
    width: 100%;
    padding: 25%;
  }
  header .rwdNav .hamburger {
    width: 40px;
    cursor: pointer;
    margin: 0.2rem;
  }
}

@media screen and (min-width: 376px) {
  header .rwdNav .logo img {
    width: 100%;
    margin: 0.5rem;
    margin-top: 0.3rem;
    padding: 15%;
  }
  header .rwdNav .hamburger {
    width: 45px;
    cursor: pointer;
    margin-top: 0.8rem;
  }
  header .rwdNav .hamburger .line {
    display: block;
    width: 40%;
    height: 3px;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    left: 18px;
  }
  header .rwdNav .hamburger .line2 {
    display: block;
    width: 55%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    left: 11px;
  }
  header .rwdNav .hamburger .line3 {
    display: block;
    width: 80%;
    height: 4px;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header .rwdNav #hamburger-1.active .line:nth-child(1) {
    -webkit-transform: translateY(20px) translateX(-16px) rotate(45deg);
            transform: translateY(20px) translateX(-16px) rotate(45deg);
    width: 70%;
  }
  header .rwdNav #hamburger-1.active .line2:nth-child(2) {
    opacity: 0;
  }
  header .rwdNav #hamburger-1.active .line3:nth-child(3) {
    -webkit-transform: translateY(-5px) translateX(1px) rotate(-45deg);
            transform: translateY(-5px) translateX(1px) rotate(-45deg);
    width: 70%;
  }
}

header .rwdNav .navbar-nav {
  height: 100vh;
  text-align: center;
  background-color: #003355;
  opacity: 0.8;
}

header .rwdNav .navbar-nav .nav-link {
  margin: 1rem;
  color: white;
}

header .rwdNav .navbar-nav a:hover {
  background-color: #2EB6E8;
  opacity: 1;
}

header .banner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0%;
  right: 25%;
  z-index: 10;
}

header .anorBanner {
  position: absolute;
  width: 100vw;
  height: 35vh;
  top: 0%;
  right: 25%;
  z-index: 10;
}

header .logo {
  position: absolute;
  top: 8%;
  z-index: 10;
  left: 10%;
}

@media (max-width: 767px) {
  header .logo {
    position: absolute;
    top: 1%;
    z-index: 10;
  }
}

header .row-language {
  top: 8%;
  z-index: 10;
}

header ul.new-menu {
  z-index: 10;
}

header ul.new-menu li {
  border-bottom: 1px solid white;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 0;
}

header ul.new-menu li:hover {
  border-bottom: 1px solid #2EB6E8;
}

header ul.new-menu li:hover a {
  font-weight: 900;
}

header ul.new-menu a.nav-link {
  letter-spacing: .2rem;
  font-size: 0.8725rem;
  color: white;
}

header .search {
  position: absolute;
  margin: auto;
  margin-top: -15rem;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 10;
  left: 20%;
  width: 70%;
}

header .search .sBtn {
  border-color: #2EB6E8;
  width: 20%;
}

header .search .search-bar {
  -webkit-box-shadow: 0 0 1rem 0 #00000099;
          box-shadow: 0 0 1rem 0 #00000099;
}

header .search .submit-btn {
  background-color: #2EB6E8;
  color: white;
  outline: none;
}

header .search .submit-btn:hover {
  background-color: #2EB6E8;
}

header .search .submit-btn:active {
  background-color: #2EB6E8;
}

@media (max-width: 767px) {
  header .search {
    position: absolute;
    margin: auto;
    margin-top: -15rem;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 10;
    width: 100%;
    left: 6%;
  }
  header .search .sBtn {
    border-color: #2EB6E8;
    width: 1px;
  }
  header .search .search-bar {
    -webkit-box-shadow: 0 0 1rem 0 #00000099;
            box-shadow: 0 0 1rem 0 #00000099;
  }
  header .search .submit-btn {
    background-color: #2EB6E8;
    color: white;
    outline: none;
  }
  header .search .submit-btn:hover {
    background-color: #2EB6E8;
  }
  header .search .submit-btn:active {
    background-color: #2EB6E8;
  }
}

.section-article a {
  text-decoration: none;
}

.section-article h4 {
  font-size: .95rem;
  letter-spacing: .05rem;
}

.section-trip .trip-bg {
  background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/svg/bg_img.svg);
  background-position-y: 10rem;
  background-size: 85rem;
  background-repeat: repeat-x;
  padding-bottom: 5rem;
}

.section-trip .trip-item {
  border-bottom: 1rem solid #2EB6E8 !important;
  margin: 1.2rem 1.3rem 2rem 1.3rem;
  -webkit-box-shadow: 0 0 1rem 0 #00000022;
          box-shadow: 0 0 1rem 0 #00000022;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-trip .trip-item:hover .trip-img {
  -webkit-filter: contrast(130%);
          filter: contrast(130%);
}

.section-trip .trip-item .trip-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-trip .trip-item a {
  text-decoration: none;
}

.section-trip .trip-item a .title {
  color: #2EB6E8;
  font-size: 24px;
  font-family: 微軟正黑體;
  font-weight: 300;
}

.section-trip .trip-item a .date-img {
  margin-top: -0.2rem;
}

.section-trip .trip-item a .bigone {
  display: inline;
  color: black;
  font-size: 24px;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .6rem;
}

.section-trip .trip-item a .smallone {
  display: inline;
  color: #5A5A5A;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .3rem;
}

.section-trip .trip-item a p {
  display: -webkit-box;
  color: #5A5A5A;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section-trip .trip-item:hover {
  -webkit-box-shadow: 0 .6rem 1.3rem 0 #00000099;
          box-shadow: 0 .6rem 1.3rem 0 #00000099;
}

.section-trip .ttn,
.section-trip .ttp {
  outline: none;
}

.section-trip .ttn img,
.section-trip .ttp img {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.section-trip .ttn::after,
.section-trip .ttp::after {
  font-size: 0;
}

.section-trip .ttn:hover img,
.section-trip .ttp:hover img {
  opacity: 1;
}

.section-trip .ttn {
  right: -20px;
}

.section-trip .ttp {
  left: -20px;
}

@media (max-width: 767px) {
  .section-trip .ttn {
    top: 105%;
    right: 100px;
  }
  .section-trip .ttp {
    top: 105%;
    left: 100px;
  }
}

.section-trip .dropdown-menu a {
  text-decoration: none;
}

.section-attractions h4 {
  font-size: 20px;
  font-size: 微軟正黑體;
  font-weight: 300;
}

.section-attractions h6 {
  display: block;
  font-size: 16px;
  font-family: 微軟正黑體;
  font-weight: 400;
  color: #2EB6E8;
}

.section-attractions p {
  display: -webkit-box;
  color: #5A5A5A;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
  font-family: 微軟正黑體;
  font-weight: 400;
}

.banner-foot {
  background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/svg/bg_img_001-01.png);
  background-position-x: 50% center;
  width: 100%;
  background-size: 45%;
  background-repeat: repeat-y;
  padding-bottom: 2rem;
}

.banner-foot .footBanN,
.banner-foot .footBanP {
  outline: none;
}

.banner-foot .footBanN img,
.banner-foot .footBanP img {
  opacity: .5;
  -webkit-transition: .3s;
  transition: .3s;
}

.banner-foot .footBanN::after,
.banner-foot .footBanP::after {
  font-size: 0;
}

.banner-foot .footBanN:hover img,
.banner-foot .footBanP:hover img {
  opacity: 1;
}

.banner-foot .footBanN {
  top: 40%;
  left: 50%;
}

.banner-foot .footBanP {
  top: 65%;
  left: 50%;
}

footer {
  background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/img_bg001.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  padding-top: 1rem;
}

footer .socialIns a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer {
  background-color: #003355;
  font-weight: 300;
  background-size: 100%;
}

footer .footer .form-control::-webkit-input-placeholder {
  color: white;
  font-weight: 300;
  font-size: .78rem;
}

footer .footer h6.catalg-title {
  font-size: .8rem;
  margin-bottom: 1rem;
}

footer .footer a.catalg-item {
  font-size: .78rem;
  text-decoration: none;
  color: white;
  display: block;
  padding-top: .3rem;
  padding-bottom: .3rem;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .footer a.catalg-item:hover {
  color: #2EB6E8;
}

footer .footer a {
  text-decoration: none;
  color: white;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 767px) {
  footer {
    background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/img_bg001.png);
    background-repeat: repeat-y;
    background-position: top;
    background-size: 100%;
  }
}

.articlePost a {
  text-decoration: none;
}

.articlePost p {
  display: -webkit-box;
  color: #696969;
  font-family: 微軟正黑體;
  font-weight: 300;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.articlePost img {
  width: 100vw;
  height: 200px;
  -webkit-transition: .3s;
  transition: .3s;
}

.attractionsNav a {
  text-decoration: none;
}

.attractionsNav a.ac {
  border-bottom: 2px solid #2EB6E8;
}

.attractionsNav .nav-link:hover {
  border-bottom: 2px solid #2EB6E8;
}

@media (max-width: 544px) {
  .attractionsNav .nav-link {
    width: 80%;
  }
  .attractionsNav .nav-link:hover {
    border-bottom: 2px solid #2EB6E8;
  }
}

.attractionsS2 {
  background-color: #003355;
}

.pagination li a {
  color: #696969;
}

.pagination li a:hover {
  color: #2EB6E8;
}

.toursNav {
  background-color: #f8f8f8;
}

.toursNav .btn {
  outline: none;
  border-radius: 0;
}

.toursA .cb01 {
  background-color: #F4F4F4;
}

.toursA .trip-bg {
  background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/svg/bg_img.svg);
  background-position-y: 10rem;
  background-size: 85rem;
  background-repeat: repeat-x;
  padding-bottom: 5rem;
}

.toursA .trip-bg .aa {
  background-color: #2EB6E8;
}

.toursA .trip-item {
  text-decoration: none;
  margin: 1.2rem 1.3rem 2rem 1.3rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.toursA .trip-item:hover .trip-img {
  -webkit-filter: contrast(130%);
          filter: contrast(130%);
}

.toursA .trip-item .trip-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

.toursA .trip-item .title {
  color: #2EB6E8;
  font-size: 24px;
  font-family: 微軟正黑體;
  font-weight: 300;
}

.toursA .trip-item .date-img {
  margin-top: -0.2rem;
}

.toursA .trip-item .bigone {
  display: inline;
  color: black;
  font-size: 24px;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .6rem;
}

.toursA .trip-item .smallone {
  display: inline;
  color: #5A5A5A;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .3rem;
}

.toursA .trip-item p {
  display: -webkit-box;
  color: #5A5A5A;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.toursA .cdok {
  background-color: #2EB6E8;
}

.toursA .cdok button {
  background-color: #2EB6E8;
}

.toursA .cdgo {
  background-color: #2EB6E8;
}

.toursA .cdgo button {
  background-color: #2EB6E8;
}

.toursA .cdtour {
  background-color: #003355;
}

.toursA .cdwrite h5 {
  color: #2EB6E8;
}

.catalg .col {
  width: calc(100% / 6);
  float: left;
  padding: 0;
}

.catalg .col .text {
  font-weight: 300;
  position: absolute;
  top: 0%;
  background: #003355;
  height: 100%;
  width: 100%;
  -webkit-transition: .2s;
  transition: .2s;
  opacity: 0.8;
  text-align: center;
}

.catalg .col .text span {
  margin: auto;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  top: 40%;
}

.catalg .col .text:hover {
  opacity: 0;
}

.catalg .col img {
  width: 100%;
}

@media (max-width: 544px) {
  .catalg {
    background-color: #001A3E;
  }
  .catalg .col {
    width: calc(100% / 2);
    float: left;
    padding: 0;
  }
  .catalg .col .text {
    font-weight: 300;
    position: absolute;
    top: 0%;
    background: #003355;
    height: 100%;
    width: 100%;
    -webkit-transition: .2s;
    transition: .2s;
    opacity: 0.8;
    text-align: center;
  }
  .catalg .col .text span {
    margin: auto;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    top: 40%;
  }
  .catalg .col .text:hover {
    opacity: 0;
  }
  .catalg .col img {
    width: 100%;
  }
}

.toursBg {
  background-image: url(http://leo.wwmt.com.tw/newzealand/content/img/svg/bg_img_001.svg);
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-size: 100rem;
}

.toursBg img {
  -webkit-box-shadow: 10 0 1rem 0 #00000022;
          box-shadow: 10 0 1rem 0 #00000022;
}

.trip-tours .trip-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

.trip-tours h4 {
  color: #2EB6E8;
  font-size: 24px;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .6rem;
}

.trip-tours .title {
  color: white;
  font-size: 16px;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-bottom: 0rem;
}

.trip-tours .date-img {
  margin-top: -0.2rem;
}

.trip-tours .bigone {
  display: inline;
  color: white;
  font-size: 20px;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .6rem;
}

.trip-tours .smallone {
  display: inline;
  color: white;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .3rem;
}

.trip-tours p {
  display: -webkit-box;
  color: white;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.trip-tours hr {
  background-color: white;
}

.trip-plus {
  -webkit-box-shadow: 0 .2rem 1rem 0 #00000011;
          box-shadow: 0 .2rem 1rem 0 #00000011;
}

.trip-plus:hover .trip-img {
  -webkit-filter: contrast(130%);
          filter: contrast(130%);
}

.trip-plus .trip-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

.trip-plus .title {
  color: #2EB6E8;
  font-size: 16px;
  font-family: 微軟正黑體;
  font-weight: 300;
}

.trip-plus .date-img {
  margin-top: -0.2rem;
}

.trip-plus .bigone {
  display: inline;
  color: black;
  font-size: 20px;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .6rem;
}

.trip-plus .smallone {
  display: inline;
  color: #5A5A5A;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .3rem;
}

.trip-plus p {
  display: -webkit-box;
  color: #5A5A5A;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.trip-article {
  -webkit-box-shadow: 0 .2rem 1rem 0 #00000011;
          box-shadow: 0 .2rem 1rem 0 #00000011;
}

.trip-article:hover .trip-img {
  -webkit-filter: contrast(130%);
          filter: contrast(130%);
}

.trip-article a {
  text-decoration: none;
}

.trip-article a .trip-img {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

.trip-article a .title {
  color: #2EB6E8;
  font-size: 16px;
  font-family: 微軟正黑體;
  font-weight: 300;
}

.trip-article a .date-img {
  margin-top: -0.2rem;
}

.trip-article a .bigone {
  display: inline;
  color: black;
  font-size: 20px;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .6rem;
}

.trip-article a .smallone {
  display: inline;
  color: #5A5A5A;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  margin-left: .3rem;
}

.trip-article a p {
  display: -webkit-box;
  color: #5A5A5A;
  font-size: 0.8725rem;
  font-family: 微軟正黑體;
  font-weight: 300;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.qaS1 h5 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 微軟正黑體;
}

.qaS1 p {
  font-size: 16px;
  font-size: 微軟正黑體;
  font-weight: 300;
  color: #696969;
}

.relatedS1 a {
  text-decoration: none;
}

.relatedS1 h4 {
  font-size: 16px;
  letter-spacing: .05rem;
}

textarea {
  resize: none;
}

#map iframe {
  width: 100%;
  height: 30vh;
}

select {
  outline: none;
  width: 100%;
  background-color: white;
  border: none;
  -webkit-appearance: none;
  background: url(http://leo.wwmt.com.tw/newzealand/content/img/svg/icon_moreoptions.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 50%;
  border-radius: 0px;
}

select:invalid {
  color: #797474;
}

.reindex {
  text-decoration: none !important;
}

.don {
  text-decoration: none !important;
  background-color: #2EB6E8;
  color: white;
}

.qaX {
  -webkit-transition: .3s;
  transition: .3s;
}

.qaX.active {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.goBt {
  background-color: #f8f8f8;
  position: fixed;
  top: 90%;
  height: 10%;
  -webkit-box-shadow: 0 .6rem 1.3rem 0 #00000099;
          box-shadow: 0 .6rem 1.3rem 0 #00000099;
  z-index: 20;
}

.goBt button {
  background-color: #2EB6E8;
  color: white;
  position: fixed;
  right: 10px;
  top: 92%;
}

.cardSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0.5rem;
}

.st0 {
  opacity: 0;
}

.st1 {
  opacity: 0;
}

.st2 {
  fill: #003355;
}

.st3 {
  fill: none;
  stroke: #003355;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st4 {
  opacity: 0.6;
}

.st5 {
  fill: none;
  stroke: #003355;
  stroke-width: 4;
  stroke-dasharray: 12, 34;
}

#north:hover {
  opacity: 100;
}

#north.active {
  opacity: 100;
}

#south:hover {
  opacity: 100;
}

#south.active {
  opacity: 100;
}

#other:hover {
  opacity: 0;
}

#other.active {
  opacity: 100;
}

.articleImg {
  background-color: #001A3E;
}

@media (max-width: 767px) {
  .articleImg {
    background-color: #001A3E;
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */